### Hello World Program in Python

In [ ]:
print("Hello World")

Hello World

### Declaring Variables

In [ ]:
Name = "Jigyasa"
Subject = "Artificial Intelligence"
print(Name)
print(Subject)

Jigyasa
Artificial Intelligence

In [ ]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [ ]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
Jigyasa
Hello, Jigyasa

### Data Types in Python

In [ ]:
a=100
b="Hiiii Jixiee"
c = 100.5
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

## Casting in Python
### Casting in python is done using constructor functions
##### `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (given the string represents a whole number)
##### `float()` - constructs a float number from an integer literal, a float literal or a string literal (given the string represents a float or an integer)
##### ` str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [ ]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x,y,z,w)

1.0 2.8 3.0 4.2

In [ ]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x,y,z)

s1 2 3.0

 ### If-Else statements

In [ ]:
x = 100
y = 5

if x > y:
    print("x is greater than y")
else:
    print("y is greater than or equal to x")

x is greater than y

In [ ]:
age = int(input("Enter your age: "))
if age <= 20:
    print("You are still a kid: ")
else:
    print("You are officially a budhau ")

Enter your age: 21
You are officially a budhau

### Loops in Python
### For Loop
##### - A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
##### - This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

In [ ]:
friends = ["Jigyasa", "Shambhavi", "Saumya", "Khushi", "Pratyaksha"]
for x in friends:
  print(x)

Jigyasa
Shambhavi
Saumya
Khushi
Pratyaksha

#### Break statement
###### With the break statement we can stop the loop even if the while condition is true.

In [ ]:
friends = ["Jigyasa", "Shambhavi", "Saumya", "Khushi", "Pratyaksha"]
for x in friends:
  print(x)
  if x == "Shambhavi":
    break

Jigyasa
Shambhavi

#### Continue statement
###### With the continue statement we can stop the current iteration, and continue with the next.

In [ ]:
friends = ["Jigyasa", "Shambhavi", "Saumya", "Khushi", "Pratyaksha"]
for x in friends:
  if x == "Shambhavi":
    continue
    print(x)

#### While Loop
##### With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

### Lists in Python
#####  A list is a collection of different kinds of values or items.

In [ ]:
list1 = [1660, 1652, 1578, 1642]
list2 = ["Shambhavi", "Pratyaksha", "Saumya", "Khushi"]
print(list1)
print(list2)
print(type(list1))
print(type(list2))

[1660, 1652, 1578, 1642]
['Shambhavi', 'Pratyaksha', 'Saumya', 'Khushi']
<class 'list'>
<class 'list'>

## Tuples in Python
##### Tuples are an immutable data type, meaning their elements cannot be changed after they are generated.
##### Each element in a tuple has a specific order that will never change because tuples are ordered sequences.

In [ ]:
empty_tuple = ()
print("Empty tuple: ", empty_tuple)

int_tuple = (4, 6, 8, 10, 12, 14)
print("Tuple with integers: ", int_tuple)

mixed_tuple = (24, "AMITY", 9.3)
print("Tuple with different data types: ", mixed_tuple)

nested_tuple = ("Amity", {4: 5, 6: 2, 8:2}, (5, 3, 5, 6))
print("A nested tuple: ", nested_tuple)

Empty tuple:  ()
Tuple with integers:  (4, 6, 8, 10, 12, 14)
Tuple with different data types:  (24, 'AMITY', 9.3)
A nested tuple:  ('Amity', {4: 5, 6: 2, 8: 2}, (5, 3, 5, 6))

## Arrays in Python
#### Inserting elements in Array

In [ ]:
import array as arr
a = arr.array('i', [1, 2, 3])
print("Array before insertion : ", end=" ")
for i in range(0, 3):
	print(a[i], end=" ")
print()
a.insert(1, 4)
print("Array after insertion : ", end=" ")
for i in (a):
	print(i, end=" ")
print()
b = arr.array('d', [2.5, 3.2, 3.3])
print("Array before insertion : ", end=" ")
for i in range(0, 3):
	print(b[i], end=" ")
print()
b.append(4.4)
print("Array after insertion : ", end=" ")
for i in (b):
	print(i, end=" ")
print()

Array before insertion :  1 2 3
Array after insertion :  1 4 2 3
Array before insertion :  2.5 3.2 3.3
Array after insertion :  2.5 3.2 3.3 4.4

#### Deleting Elements from an Array

In [ ]:
import array as arr
number = arr.array('i', [1, 2, 3, 3, 4])
del number[2]
print(number)

array('i', [1, 2, 3, 4])

#### Concatenation of Arrays

In [ ]:
a=arr.array('d',[1.1 , 2.1 ,3.1,2.6,7.8])
b=arr.array('d',[3.7,8.6])
c=arr.array('d')
c=a+b
print("Array c = ",c)

Array c =  array('d', [1.1, 2.1, 3.1, 2.6, 7.8, 3.7, 8.6])

#### Slicing of an Array

In [ ]:
import array as arr
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a = arr.array('i', l)
print("Initial Array: ")
for i in (a):
	print(i, end=" ")
Sliced_array = a[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_array)
Sliced_array = a[5:]
print("\nElements sliced from 5th "
	"element till the end: ")
print(Sliced_array)

Initial Array:
1 2 3 4 5 6 7 8 9 10
Slicing elements in a range 3-8:
array('i', [4, 5, 6, 7, 8])

Elements sliced from 5th element till the end:
array('i', [6, 7, 8, 9, 10])

#### Reversing elements in an array

In [ ]:
import array
my_array = array.array('i', [1, 2, 3, 4, 5])
print("Original array:", *my_array)
my_array.reverse()
print("Reversed array:", *my_array)

Original array: 1 2 3 4 5
Reversed array: 5 4 3 2 1

## Functions in Python

In [ ]:
def square( num ):
    return num**2
object_ = square(225)
print( "The square of the given number is: ", object_ )

The square of the given number is:  50625

#### Pass by Reference vs Pass by Value

In [ ]:
def Cubes( item_list ):
    Cubes = [ ]
    for l in item_list:
        Cubes.append( l**3 )
    return Cubes
my_list = [17, 52, 367];
my_result = Cubes( my_list )
print( "Cubes of the list are: ", my_result )

Cubes of the list are:  [4913, 140608, 49430863]

### Lambda Function

In [ ]:
lambda_ = lambda argument1, argument2: argument1 + argument2;
print( "Value of the function is : ", lambda_( 20, 30 ) )
print( "Value of the function is : ", lambda_( 40, 50 ) )

Value of the function is :  50
Value of the function is :  90